<html>
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            {% if latest_question_list %}
                {% for question in latest_question_list %}
                    <thead>
                        <tr scope="row">
                            <td>{{question.id}}</td>
                            <td>{{question.question_text}}</td>
                            <td>
                                <a class="btn btn-primary" href="/polls/{{ question.id }}/" role="button">Show</a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="/polls/{{ question.id }}/" role="button">Update</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/polls/{{ question.id }}/" role="button">Delete</a>
                            </td>
                        </tr>
                    </thead>
                {% endfor %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </table>
    </div>
</body>
</html>
